<footer>
<div class="content">
<p class="date">
  This page was generated on {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}. Built on <a href="https://www.11ty.io/">Eleventy</a>. Controled by <a href="https://github.com/jaw-knee-rez/slavetothedetails">Github</a>. Hooked and hosted by <a href="https://www.netlify.com/">Netlify</a>.
</p>
</div>
</footer>
