<header>
  <h3>
  <a href="/">
    John Resman
    <span>
    <svg height="1" width="32">
      <rect width="32" height="1" fill="#C9C9C9"/>
    </svg>
      UX, UI, &amp; Visual Design
    </span>
  </a>
  </h3>
</header>
