<header>
  <h3>
  <a href="/">
    John Resman
    <span>
    <svg height="1" width="32">
      <rect width="32" height="1" fill="#C9C9C9"/>
    </svg>
      UX Strategy &amp; product design
    </span>
  </a>
  </h3>
  <nav>
    <a href="/notes">Notes
      <sub>
        3
      </sub>
    </a>
    <a href="/work">Work
      <sub>
        5
      </sub>
    </a>
    <a href="/about">About
    </a>
  </nav>
</header>
