<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>{% include "css/main.css" %}</style>
    <title>{{ title }}</title>
    <meta name="description" content="{{ meta_description }}">
    <link rel="icon" type="image/png" href="https://slavetothedetails.com/images/favicon.png">
  </head>
  
  <body class="{{ bodyClass }}" >

    <div class="container">

      {% include "header.njk" %}

      {{ content | safe }}

      {% include "footer.njk" %}

    </div>

    <script>{% include "js/scripts.js" %}</script>
  </body>
</html>
