h1, h2, h3 {
  color: $text-dark-color;
  font-weight: 300;
  margin-bottom:0.2em;
  line-height: 1;
}
h1 {
  font-family: 'heading', sans-serif;
  text-transform: uppercase;
  font-size: 1.8em;
  margin-top:0.4em;
  margin-bottom:0.2em;
  line-height: 1;

  @include bp(mid) {
    font-size: 2sem;
  }
  @include bp(wide) {
    font-size: 3em;
  }
}

p {
  font-size: 1.2em;
  color: #333;
  line-height: 1.8em;
  margin-top: 1em;
  margin-bottom: 1em;
}

ul, ol {
  padding-left: 1em;
}

a:link,
a:visited {
  color: $text-dark-color;
  text-decoration: none;
  border-bottom: solid 1px mix($text-dark-color, $page-color, 10%);
}
a:hover,
a:focus {
  color: $text-dark-color;
  border-bottom: solid 1px $text-dark-color;
}

code {
  font-size: 0.8em;
  background-color:  mix($accent-color, $page-color, 20%);
  color: $text-dark-color;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  white-space: nowrap;
}

.date {
  font-size: 0.8em;
  font-style: italic;
}

pre {
  margin-top: 2em;
  margin-bottom: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
  line-height: 1.2;
  background-color:  mix($accent-color, $page-color, 10%);
  border: solid 1px mix($accent-color, $page-color, 30%);
  overflow: auto;
  code {
    border-style: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
